
.productDetailsDiv{
    height: 70vh;
    margin-inline: 20vw;
    display: flex;
    flex-direction: column;
}

.productDetailsDivTop {
    height: 7vh;
    display: flex;
    align-items: center;
}

.productDetailsDiMid{   
    height: 80vh;
    display: flex;
}

.productDetailsDivMidLeft {
    width: 50%;
    padding-top: 5vh;
}

.bookImage {
    width: 60%; 
    height: auto; 
    max-width: 100%;
    object-fit: contain;
}

.productDetailsDivMidRight {
    width: 50%;
    padding-top: 5vh;
}

.priceProduct{
    color: red;
}

div.voorRaadDivDetailsView{
    width: 8vw;
    border: solid black 2px;
    text-align: center;
    display: flex;
    flex-direction: column;
}