@model BoekWinkel.Models.BoekModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BoekTitle" class="control-label"></label>
                <input asp-for="BoekTitle" class="form-control" />
                <span asp-validation-for="BoekTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekAuthor" class="control-label"></label>
                <input asp-for="BoekAuthor" class="form-control" />
                <span asp-validation-for="BoekAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekDescription" class="control-label"></label>
                <input asp-for="BoekDescription" class="form-control" />
                <span asp-validation-for="BoekDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekPrice" class="control-label"></label>
                <input asp-for="BoekPrice" class="form-control" />
                <span asp-validation-for="BoekPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekCategory" class="control-label"></label>
                <input asp-for="BoekCategory" class="form-control" />
                <span asp-validation-for="BoekCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekImageURL" class="control-label"></label>
                <input asp-for="BoekImageURL" class="form-control"  />
                <span asp-validation-for="BoekImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekImage" class="control-label"></label>
                <input asp-for="BoekImage" class="form-control" type="file" />
              
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
