@model BoekWinkel.Models.BoekModel

@section boekModelEdit{
    <link rel="stylesheet" href="~/css/BoekModel/edit.css" />
}

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="editContainer">
    <h1>Edit book</h1>
    <div class="">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BoekId" />
            <div class="form-group">
                <label asp-for="BoekTitle" class="control-label"></label>
                <input asp-for="BoekTitle" class="form-control" />
                <span asp-validation-for="BoekTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekAuthor" class="control-label"></label>
                <input asp-for="BoekAuthor" class="form-control" />
                <span asp-validation-for="BoekAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekDescription" class="control-label"></label>
                <input asp-for="BoekDescription" class="form-control" />
                <span asp-validation-for="BoekDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekPrice" class="control-label"></label>
                <input asp-for="BoekPrice" class="form-control" />
                <span asp-validation-for="BoekPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoekCategory" class="control-label"></label>
                <select asp-for="BoekCategory" class="form-control">
                    <option value="Fiction">Fiction</option>
                    <option value="Non-Fiction">Non-Fiction</option>
                    <option value="Science Fiction">Science Fiction</option>
                    <option value="Biography">Biography</option>
                    <option value="Fantasy">Fantasy</option>
                    <option value="Mystery">Mystery</option>
                    <option value="Romance">Romance</option>
                    <option value="Horror">Horror</option>
                    <option value="History">History</option>
                    <option value="Self-Help">Self-Help</option>
                    <option value="Children's">Children's</option>
                    <option value="Poetry">Poetry</option>
                    <option value="Thriller">Thriller</option>
                    <option value="Young Adult">Young Adult</option>
                    <option value="Travel">Travel</option>
                    <option value="Cooking">Cooking</option>
                    <option value="Graphic Novels">Graphic Novels</option>
                    <option value="Classics">Classics</option>
                </select>
                <span asp-validation-for="BoekCategory" class="text-danger"></span>
            </div>                 
            <div class="form-group">
                <label asp-for="BoekImage" class="control-label"></label>
                <input asp-for="BoekImage" type="file" class="form-control" id="boekIMGinp" name="BoekImage" />
                <span asp-validation-for="BoekImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">
            <ion-icon name="arrow-back-outline" class="Icon"></ion-icon>
        </a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
