.navBar {
    box-shadow: 0 2px 4px -1px black;
    padding-top: 5px;
    height: 17vh;
}

.navBar a {
    color: black;
}

.Icon{
    color: black;
   font-size: 25px;
}

/*  TOP DIV  */
.navBarTop {
    height: 10vh;
    display: flex;
}

.navBarTopDivs {
    width: 33.3vw;
    padding: 10px;
    display: flex;
}

#navBarTopLeft {
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

#navBarTopMid{
    padding-inline: 0px;
}

.searchBarContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton{
    border: solid black 2px;
    border-left: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 5vh;
}

.searchBar {
    border: 2px solid black;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 90%;
    height: 5vh;
}

.searchBar:focus{
    outline: none;
}

#navBarTopRight {
    justify-content: right;
    align-items: center;
    padding-right: 25px;
}

/*  BOTTOM DIV  */

.navBarBottom {
    height: 7vh;
    display: flex;
    justify-content:center;
    align-items: center;
}