@model BoekWinkel.Models.VoorRaadBoeken

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>VoorRaadBoeken</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="voorraadId" asp-items="ViewBag.VoorRaadId" />
            <div class="form-group">
                <label asp-for="boekId" class="control-label"></label>
                <input asp-for="boekId" class="form-control" asp-items="ViewBag.boekId"></input>
                <span asp-validation-for="boekId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="voorRaad" class="control-label"></label>
                <input asp-for="voorRaad" class="form-control" />
                <span asp-validation-for="voorRaad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="verkocht" class="control-label"></label>
                <input asp-for="verkocht" class="form-control" />
                <span asp-validation-for="verkocht" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geretourd" class="control-label"></label>
                <input asp-for="geretourd" class="form-control" />
                <span asp-validation-for="geretourd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div>              
                @ViewBag.debug
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
