.winkelWagenItemsContainer {
    margin-inline: 20vw;
    padding: 20px; 
  
    display: flex;
    flex-direction: column;
    
}

.winkelWagenItems {
    margin-block: 20px;
    width: 100%;
}

.winkelwagen-item-kaart {
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
}

.winkelwagen-item-kaart-left{
    margin-right: 50px;
}

.winkelwagen-item-kaart-right{
    margin-right: 50px;
    width: 100%;
}

.product-details-table{
    width: 100%;
    margin-top: 8vh;
}

.boekIMG {
    width: 12vw;
    height: 18vw;
    object-fit: cover;
    border-radius: 5px;
}

.firstRow {
    border-bottom: solid 2px black;
}

#titleBoekTH {
    width: 7vw;
}


#titleBoekTD {
    text-align: center;
}

#authorBoekTH {
    padding-left: 50px;
}

#authorBoekTD {
    padding-left: 50px;
}

.priceBoekTHD{
    border: solid 2px;
    padding-right: 50px;
}


.tableInput {
    border: solid 3px;
}

.winkelwagen-item-kaart strong {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
