.winkelWagenItemsContainer {
    margin-inline: 20vw;
    padding: 20px; 
  
    display: flex;
    flex-direction: column;
    
}

.winkelWagenItems {
    margin-block: 50px;
    width: 100%;
}

.winkelwagen-item-kaart {
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    background-color: #e8e8e8;
    display: flex;
}

.winkelwagen-item-kaart-left{
    margin-right: 50px;
}

.winkelwagen-item-kaart-right{
    margin-right: 50px;
    width: 100%;
}

.product-details-table{
    width: 100%;
    margin-top: 8vh;
}

.boekIMG {
    width: 12vw;
    height: 18vw;
    object-fit: cover;
    border-radius: 5px;
}

.firstRow {
    border-bottom: solid 2px black;
}


/*titel boek*/
#titleBoekTH {
    width: 8vw;
}

#titleBkToeD {
    text-align: center;
}

/*auteur boek*/
#authorBoekTH {
    padding-left: 50px;
    width: 8vw;
}

#authorBoekTD {
    padding-left: 50px;
}

/*prijs boek*/
#priceBoekTH {
    width: 8vw;
    padding-left: 50px;
}

#priceBoekTD {
    padding-left: 50px;
}

/*hoeveelheid producten*/
#quantityTH {
    padding-left: 50px;
}

#quantityTD {
    border: none 3px;
    padding-left: 50px;
    width: 5vw;
}

.tableInput {
    border: none 2px;
    width: 3vw;
}

.winkelwagen-item-kaart strong {
    text-align: center;
}

h2 {
    text-align: center;
   
}
